<ul class="amis">
    <li>Ils font aussi de de belles choses :</li>
    <li><a target="_blank" href="http://www.andyetjeanmi.com/" alt="Andy et Jean-mi">Andy et Jean-mi./ Sérigraphie</a></li>
    <li><a target="_blank" href="http://www.benoitguenot.com/" alt="Benoit Guenot">Benoit Guenot./ Photographe</a></li>
    <li><a target="_blank" href="http://cecileperrin.com/" alt="Cecile Perrin">Cecile Perrin./ Illustration</a></li>
    <li><a target="_blank" href="#" alt="Dan Yellow J.L">Dan Yellow J.L / Dev</a></li>
    <li><a target="_blank" href="http://www.myspace.com/gaspardroyant" alt="Gaspard Royant">Gaspard Royant./ Musique</a></li>
    <li><a target="_blank" href="http://barbesstories.tumblr.com/" alt="Jojo de Barbès">Jojo de Barbès / photo blog</a></li>
    <li><a target="_blank" href="http://parleamoniphonetgtg.blogspot.fr/" alt="Manuel Wilson">Manuel Wilson / Illustration</a></li>
    <li><a target="_blank" href="http://slipsum.com/#.T47o5TI5KUI" alt="Samuel L. Jackson">Samuel L. Jackson / Ipsum</a></li>
    <li><a target="_blank" href="http://www.sebastienwalker.com/" alt="Sebastian Walker">Sebastian Walker / Illustration</a></li>
</ul>