<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="assets/stylesheets/style.css" />
</head>
<body>
	<section id="wrapper">
		<header>
			<div id="desc">
				<img src="assets/images/header-goutte-et-rond.png" alt="foo" />
			</div>
			<nav>
				<ul>
					<li><a href="#">Details</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Twitter</a></li>
				</ul>
			</nav>
		</header>
		{% block page %}{% endblock %}
	</section>
</body>
</html>