{% extends "layouts/layout.html.twig" %}

{% block page %}
    <section id="main">
        <ul id="legend-work">
            <li>WORKS</li>
            <li>FREE TIME</li>
        </ul>
        <section id="portfolio">
            <aside id="projects">
                <ul>
                    <li class="goutte" data-seen="true"></li>
                    <li class="goutte"></li>
                    <li class="goutte"></li>
                    <li class="goutte"></li>
                    <li class="goutte"></li>
                    <li class="rond"></li>
                    <li class="goutte"></li>
                    <li class="rond"></li>
                    <li class="rond"></li>
                    <li class="rond"></li>
                </ul>
            </aside>
            <article id="project">
                <figure id="container-flash">
                    <img src="http://lorempixel.com/output/city-q-c-841-480-3.jpg" alt="" />
                    <img src="http://lorempixel.com/output/city-q-c-841-480-3.jpg" alt="" />
                    <img src="http://lorempixel.com/output/city-q-c-841-480-3.jpg" alt="" />
                </figure>
                <div id="container-desc-goutteetrond">
                    <p>Parlons nous, téléphonez, envoyez un mail, ou passez me voir dans l’atelier de sérigraphie 5 rue Paul Albert, 75018. <span style="color: #818a90;">(sur rendez vous). <br><br>

                    We can talk, call, email or come and see me at Silkscreen workshop, 5 rue Paul Albert, 75018. (call first)</span>
                    </p>

                    {% include 'imports/friends-list.twig' %}
                </div>

            </article>
        </section>
    </section>

{% endblock %}