{% extends "layouts/layout.html.twig" %}

{% block page %}
    <section id="main">
        <ul id="legend-work">
            <li>WORKS</li>
            <li>FREE TIME</li>
        </ul>
        <section id="portfolio">
            <aside id="projects">
                <ul>
                    <li class="goutte" data-seen="true"></li>
                    <li class="goutte"></li>
                    <li class="goutte"></li>
                    <li class="goutte"></li>
                    <li class="goutte"></li>
                    <li class="rond"></li>
                    <li class="goutte"></li>
                    <li class="rond"></li>
                    <li class="rond"></li>
                    <li class="rond"></li>
                </ul> 
            </aside>
            <article id="project">
                <figure id="container-images-project">
                    <img src="http://lorempixel.com/output/city-q-c-841-480-3.jpg" alt="" />
                    <img src="http://lorempixel.com/output/city-q-c-841-480-3.jpg" alt="" />
                    <img src="http://lorempixel.com/output/city-q-c-841-480-3.jpg" alt="" />
                </figure>
                <div id="container-desc-project">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

            </article>
        </section>
    </section>

{% endblock %}