@-webkit-keyframes fadeIn {
    from {opacity: .25;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: .25;}
    to {opacity: 1;}
}


@-webkit-keyframes slide {
    from {
        @include prefixer(transform, translateX(20px), webkit moz spec);}
    to {
        @include prefixer(transform, translateX(0px), webkit moz spec);}
} 

@keyframes slide {
    from {
        @include prefixer(transform, translateX(20px), webkit moz spec);}
    to {
        @include prefixer(transform, translateX(0px), webkit moz spec);}
}


@-webkit-keyframes infosSlide {
    from {
        @include prefixer(transform, translateY(0px), webkit moz spec);}
    to {
        @include prefixer(transform, translateY(-312.65%), webkit moz spec);}
}

@keyframes infosSlide {
    from {
        @include prefixer(transform, translateY(0px), webkit moz spec);}
    to {
        @include prefixer(transform, translateY(-312.65%), webkit moz spec);}
}


@-webkit-keyframes disappearLayer {
    from {
        opacity: 1;}
    to {
        opacity: 0; z-index: -100;}
}

@keyframes disappearLayer {
    from {
        opacity: 1;}
    to {
        opacity: 0; z-index: -100;}
}


@keyframes scale {
    0% {
       @include prefixer(transform, scale(.92), webkit moz spec);}
    100% {
        @include prefixer(transform, scale(1), webkit moz spec);}
}

@-webkit-keyframes scale {
    0% {
       @include prefixer(transform, scale(.92), webkit moz spec);}
    100% {
        @include prefixer(transform, scale(1), webkit moz spec);}
}