#container-desc-goutteetrond {
    display: inline-block;
    width: 395px;

    p {
        color: black;
        font-size: 13px;
        font-weight: bold;
        white-space: normal;
        margin-bottom: 55px;
    }

    #friends {

    }
}