#main {
    padding-top: 19px;
}

#legend-work {
    margin-bottom: 9px;
}

 #portfolio {

 }

 #projects {
    width: 98px;
    margin-right: 37px;
    vertical-align: top;
    display: inline-block;

    ul {
        li {
            display: inline-block;
            background-color: blue;
            height: 16px; width: 16px;

            a {
                display: block;
                width: inherit; height: inherit;
            }

            // Project have been seen
            &[data-seen="true"] {
                background-color: green;
            }
        }
    }
}

#project {
    display: inline-block;
    width: 991px;
    font-size: 0;
    white-space: nowrap;
}

#container-images-project {
    width: 841px;
    display: inline-block;
    img {
        display: block;
        max-width: 100%;
        width: auto;
        vertical-align: top;
        margin-bottom: 19px;
        opacity: 0.25;

        &:nth-child(1) {
            @include animation(fadeIn 0.35s cubic-bezier(.2, 1.13, 1, .99) forwards 0s);
        }

        &:nth-child(2) {
            @include animation(fadeIn 0.35s cubic-bezier(.2, 1.13, 1, .99) forwards 2*0.45s);
        }

        &:nth-child(3) {
            @include animation(fadeIn 0.35s cubic-bezier(.2, 1.13, 1, .99) forwards 3*0.45s);
        }
    }
}

#container-desc-project {
    display: inline-block;
    width: 141px;
    vertical-align: top;
    margin-left: 14px;
    font-size: 10px;
    white-space: normal;

    h4 {
        font-weight: bold;
        font-size: 15px;
        #project.rond & {
            color: #acbba9;
        }
    }

    p {
        font-size: 11px;
    }
}

